# Dependências
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Nativo
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Sistema
.DS_Store
Thumbs.db

# Ambiente
.env
